<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Frist Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th scope="col">Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user.FristName}}</td>
          <td>{{user.LastName}}</td>
          <td>{{user.Email}}</td>
          <td>{{user.Age}}</td>
          <td>{{user.PhoneNumber}}</td>
        </tr>
        </tbody>
        </table>
        <div class="row">
                <div class="col-sm-6">
                  <button class="btn btn-primary" (click)="onEditUser()">Edit User</button>  
            </div>
            <div class="col-sm-6">
                <button class="btn btn-danger" (click)="onDeleteUser()">Delete User</button>
          </div>            
          </div>        

  </div>
</div>
