<div class="container">
  <h1>Input Data Vehiles</h1>
   <form>

  <div class="input-group">
    <h4 class="col-sm-12" >Plate Number</h4>
    <input type="number" name="pnumber" class="form-control" placeholder="Plate Number" aria-describedby="basic-addon1" value="" />
    </div> 
    <div class="input-group">
      <h4 class="col-sm-12" >Model</h4>
    <input type="text" name="model" class="form-control" placeholder="Model" aria-describedby="basic-addon1" value="" />
    </div>
    <div class="input-group">
      <h4 class="col-sm-12" >Color</h4>
    <input type="color" name="color" class="form-control" placeholder="Color" aria-describedby="basic-addon1" value="" />
    </div> 
  <div class="sub">                 
   <button type="submit" value="Save">Send</button>
  </div>	
      </form>
      </div>
      
     
  
