      <div class="container">
<h1>Input Data</h1>
 <form>
<div class="input-group">
  <h4 class="col-sm-12" >Frist Name</h4>
<input type="text" name="fname" class="form-control" placeholder="Frist Name" aria-describedby="basic-addon1" value="" />
</div>
<div class="input-group">
  <h4 class="col-sm-12" >Last Name</h4>
<input type="text" name="lname" class="form-control" placeholder="Last Name" aria-describedby="basic-addon1" value="" />
</div>
<div class="input-group">
<h4 class="col-sm-12" >Email</h4>
<input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" placeholder="@Email" aria-describedby="basic-addon1" value="" />
</div>
<div class="input-group">
<h4 class="col-sm-12" >Age</h4>
<input type="number" name="Age" class="form-control" placeholder="Age" aria-describedby="basic-addon1" value="" />
</div> 
<div class="input-group">
  <h4 class="col-sm-12" >Phone Number</h4>
  <input type="number" name="phone" class="form-control" placeholder="Phone Number" aria-describedby="basic-addon1" value="" />
  </div> 
<div class="sub">                 
 <button type="submit" value="Save" (click)="onNewCustomer()" >Send</button>
</div>	
    </form>
    </div>
    
   
